<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        #content-stores .card .card-content {
            padding-top: 0;
            padding-bottom: 10px;
        }
        .btn-floating{
            height: 30px;
            width: auto;
            padding: 5px;
            line-height: normal;
            border-radius: 0;
        }
        .mt-6{
            margin-top:6px !important;
        }
        .mt-8{
            margin-top:8px !important;
        }
        .mt-10{
            margin-top:10px !important;
        }
        .fz-11{
            font-size: 11px !important;
        }
        .fz-12{
            font-size: 12px !important;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-if="showLogin" class="section">
            <div class="row">
              <div class="col s12 center-align">
                    <img src="./assets/logo-x.png" alt="" class="circle responsive-img indigo darken-1" style="padding:10px !important;">
                    <h3>Ingresa a tu tienda</h3>
              </div>
            </div>
            <form @submit.prevent="sendFormLogin">
                <div class="row">
                    <div class="input-field col offset-s4 s4">
                        <input v-model="email" type="email" class="validate">
                        <label for="email">Email</label>
                        <i class="material-icons prefix">mail</i>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col offset-s4 s4">
                        <input v-model="password" type="password" class="validate">
                        <label for="password">Password</label>
                        <i class="material-icons prefix">password</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 center-align">
                        <button type="submit" class="btn indigo darken-4">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>

        <menu-component v-if="!showLogin" :email="this.email"></menu-component>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
    <script src="login.component.js"></script>
    <script src="menu.component.js"></script>
    <script>
        /* const app = {

        }
        var _app = Vue.createApp(app); */
        var mountedApp = _app.mount('#app');
    </script>
</body>
</html>